amazon-scraper==0.3.3
appdirs==1.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bottlenose==1.1.2
click==6.7
decorator==4.0.11
enum34==1.1.6
Flask==0.12
ipython==5.2.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.7.2
MarkupSafe==0.23
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-amazon-simple-product-api==2.1.0
python-dateutil==2.6.0
requests==2.13.0
scandir==1.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
Werkzeug==0.11.15
xmltodict==0.10.2
