altgraph==0.12
appdirs==1.4.0
appnope==0.1.0
backports==1.0
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
biom-format==2.1.4.dev0
biopython==1.65
certifi==14.5.14
Cython==0.22
decorator==4.0.11
Django==1.7.5
enum34==1.1.6
ipython-genutils==0.1.0
macholib==1.7
matplotlib==1.4.3
mock==1.0.1
modulegraph==0.12
nose==1.3.4
numpy==1.9.2
oligotyping==1.8.dev0
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
py2app==0.9
pycairo==1.10.0
Pygments==2.2.0
pyobjc-core==3.0.1
pyobjc-framework-Cocoa==3.0.1
pyparsing==2.0.3
pyqi==0.3.2
python-dateutil==2.4.0
pytz==2014.10
scandir==1.4
scipy==0.15.1
simplegeneric==0.8.1
six==1.9.0
Tkinter==0.0.0
tornado==4.1
traitlets==4.3.1
virtualenv==13.0.3
wcwidth==0.1.7
