.home {
    background: url("/static/img/Shopping-online.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    padding-top: 200px;
}

html, body {
    height: 100%;
}

body { 
    padding: 0px; 
    font-family: Avenir;
    color: #292f33;
    margin-top: 60px;
    font-size: 16px;
}

.navbar {
    font-size: 20px;
    padding: 5px;
    font-family: Helvetica;
    color: black;
}

.jumbotron {
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}


/*Highlighting on review words after search */
.highlight { 
    background-color: rgba(110, 211, 207, 0.5);
}


/* Any page besides the home page */
.page {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.product-box {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 26px;
    padding-bottom: 40px;
}

.product-details {
    font-size: 24px;
}

.reviews {
    padding-right: 300px;
    font-size: 18px;
}

/* unvisited link */
.page a:link {
    color: #292f33;
}

/* visited link */
.page a:visited {
    color: #AFABA8;
}

.product-histogram {
    padding-top: 10px;
    margin-right: 80px;
}

.pg-score {
    font-weight: bold;
}

.alert, .alert-info {
    margin: 0;
    font-family: Avenir, sans-serif;
}

.product-name {
    font-family: Helvetica;
    font-size: 28px;
}

.score {
    font-size: 22px;
    font-weight: bold;
}

.review-keyword-title {
    font-size: 30px;
}

.keyword-container{
    width: 500;
    height: 300;
}

#negative-keywords .w10, #negative-keywords .w9 {
    color: #9C0F5F;
}

#negative-keywords .w8, #negative-keywords .w7, #negative-keywords .w6 {
    color: #C91B26;
}

#negative-keywords .w5, #negative-keywords .w4, #negative-keywords .w3 {
    color: #F2671F;
}

#negative-keywords .w2, #negative-keywords .w1 {
    color: #60047A;
}



