.home {
    background: url("/static/img/Shopping-online.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    padding-top: 200px;
}

html, body {
    height: 100%;
}

body { 
    padding: 0px; 
    font-family: Helvetica;
    color: black;
    margin-top: 60px;
    font-size: 16px;
}

.navbar {
    font-size: 20px;
    padding: 5px;
    font-family: Helvetica
}

.jumbotron {
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}


/*Highlighting on review words after search */
.highlight { 
    background-color: #c7ffff; 
}


/* Any page besides the home page */
.page {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.product-box {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 26px;
    padding-bottom: 40px;
}

.product-details {
    font-size: 24px;
}
.reviews {
    padding-right: 300px;
}


/* unvisited link */
.page a:link {
    color: black;
}

/* visited link */
.page a:visited {
    color: grey;
}

/* mouse over link */
.page a:hover {
    color: hotpink;
}

.product-histogram {
    padding-top: 10px;
}
