.highlight { 
    background-color: #c7ffff; 
}

#product-img {
    float: left;
    width: 500px;
    padding: 40px;
}

#product-listing {
    font-size: 30px;
    float: left;
    width: 500px;
    padding: 40px;
}

.product {
    background-color: white;
    padding: 20px; 
    width: 1200px;
    height: 500px;
}

body { 
    padding-top: 70px; 
    font-family: Avenir;
    color: black;
    background-color: #d3d3d3;
}

.navbar {
    font-size: 24px;
    padding: 5px;
}

#search-term {
    color: black;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

.product-histogram {
    padding-top: 80px;
}
