<!doctype html>
<html>

  <head>
    <!-- This is where the title goes -->
    <title>{% block title %}TITLE HERE{% endblock %}</title>

    <!-- Link to bootstrap as stylesheet -->
    <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    
    <!-- Link to css -->
    <link rel="stylesheet" href="/static/styles.css">
    
    <!-- This is where the heading goes -->
    <div class="row">
      <div class="col-xs-12 text-center page-title">
        <h1>{% block heading %}HEADING FOR PAGE{% endblock %}</h1>
      </div>
    </div>
    <br><br>

    <!-- Link to jquery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/jquery.highlight-5.js"></script>

    <!-- Link to bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Link to Chart.js -->
    <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>

  </head>

  <!-- This is where the body goes -->
  <body>

    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class="alert alert-warning text-center">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    <!-- This is where the main content goes. -->
    <div class="container">
      {% block content %}
        BODY OF PAGE GOES HERE 
      {% endblock %}
    </div>
  
  </body>

  <!-- This is where the footer goes. -->
  <footer>
    <br><br>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>&copy; 2017 ReviewGenius, Inc.</p>
      </div>
    </div>
  </footer>

</html>