{% extends 'base.html' %}
{% block content %}

<div class="product-listing-page"> 
  <h2 id="search-term">You searched for "{{ query }}"</h2>
  <br>
  <h1>Products:</h1>
  <br><br><hr>
  {% if not products %}
    <h2>Sorry, there were no products that matched your search.</h2>
  {% endif %}

  {% for asin, title, _, price, image, _, n_scores,_,_,_,_ in products %}
    <div class="product-box">
      <h3><a href="/product/{{ asin }}">{{ title }}</a></h3><br>
      <div class="product-image"><a href="/product/{{ asin }}"><img src="{{ image }}"></a></div>
      <!-- <div class="product-details">
        <p>Price: ${{ price }}</p>
        <p>{{ n_scores }} reviews</p>
        <p>ProductGenius Score: </p>
      </div> -->
    </div>
    <hr>
  {% endfor %}

</div>

{% endblock %}
