{% extends 'base.html' %}
  
{% block content %}

<div id="search-term">
  <h2>You searched for "{{ query }}"</h2>
</div>
<br>
<h1>Products:</h1>
<br><br>

  {% for asin, title, _, price, image, _, n_scores,_,_,_,_ in products %}
    <div class="product">

      <div class="product-title">
        <h3><a href="/product/{{ asin }}">{{ title }}</a></h3>
      </div>

      <div id="product-img">
        <a href="/product/{{ asin }}">
          <img src="{{ image }}">
        </a>
      </div>

      <div id="product-listing">
        <div class="product-price">Price: ${{ price }}</div>
        <div class="nreviews">{{ n_scores }} reviews</div>
        <div class="productgenius-score">ProductGenius Score: </div>
      </div>
    
    </div>
    <br>
  {% endfor %}

{% endblock %}
