{% extends 'base.html' %}
  
{% block content %}

<div class="row">
  <div class="col-lg-12 col-lg-offset-0">
    <div id="product-page">
      <h1>{{ product.title }}</h1>

      <div>
        <img src={{ product.image }}> 
        <div class="product-histogram">
          <canvas id="barChart"></canvas>
        <div>
      </div>

      <br><br>


      <!-- # Review search bar -->

      <h2>Search within reviews:</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-0">
          <form class="form-inline" action="/search-review" id="review-search-form" method="GET">
            <div class="form-group">
              <input class="form-control input-lg" name="query" id="query" type="text">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>

      <!-- Review display -->

      <h1>Reviews:</h1>
      <div id="reviews">
        {% for rev in reviews %}
          <h3>{{ rev.summary }}</h3>
          <img src="/static/heart-empty.jpg" height="35" width="35" value={{ rev.review_id}}>
          <ul>
            <li>Score: {{ rev.score }}</li>
            <li>Helpful rating: {{ rev.helpful_fraction }}</li>
            <li>{{ rev.review }}</li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Javascript links -->

<!-- Pass the product's asin to javascript files -->
<script> var asin = "{{ product.asin }}";</script>
<script src="/static/histogram.js"></script>
<script src="/static/reviews.js"></script>
<script src="static/favorite.js"></script>


{% endblock %}



