{% extends 'base.html' %}
  
{% block content %}

  <div class="product-page">

    <h1>{{ product.title }}</h1><br><br>

    {% if "user" in session %}
      {% if is_favorite %}
        <button class="btn btn-default" id="product-fav-button">Favorited</button>
      {% else %}
        <button class="btn btn-default" id="product-fav-button">Add to favorites</button>
      {% endif %}
    {% endif %}
    <br><br>
    
    <!-- # Product image and ratings histogram -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <img src={{ product.image }}>
        </div>
        <div class="col-xs-6">
          <h2>Product Ratings</h2>
          <div class="product-histogram">
            <canvas id="barChart"></canvas>
          <div>
        </div>
      </div>
    </div>

    <!-- # Review keywords from naive bayes -->
    <br>
    <h3>People who rated this product positively used these words in their reviews:</h3>
    {% for pw in product.pos_words %}
      {{ pw }},
    {% endfor %} 
    <br>

    <h3>People who rated this product negatively used these words in their reviews:</h3>
    {% for nw in product.neg_words %}
      {{ nw }}, 
    {% endfor %}
    <br>

    <!-- Review display -->

    <h2>Search within reviews:</h2>
    <form class="form-inline" action="/search-review" id="review-search-form" method="GET">
      <div class="form-group">
        <input class="form-control input-lg" name="query" id="query" type="text">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br><hr>

      {% for rev in product.reviews %}
        <br>
        <h3>{{ rev.summary }}</h3>

        {% if "user" in session %}
          {% if rev.review_id in favorite_reviews %}
            <img src="/static/img/heart.png" class="heart" height="35" width="35" data-review-id={{ rev.review_id }}>
          {% else %}
            <img src="/static/img/heart-empty.jpg" class="heart" height="35" width="35" data-review-id={{ rev.review_id }}>
          {% endif %}
        {% endif %}

        <h4>Score: {{ rev.score }}</h4>
        <p>{{ rev.review }}</p>
        <br>
        <hr>
      {% endfor %}

</div>

<!-- Javascript links -->

<!-- Pass the product's asin to javascript files -->
<script> var asin = "{{ product.asin }}";</script>
<script src="/static/js/histogram.js"></script>
<script src="/static/js/search_reviews.js"></script>
<script src="/static/js/favorites.js"></script>


{% endblock %}



