{% extends 'base.html' %}
  
{% block content %}

<h1>User: {{ user.name }}</h1><br><br>

<h2>Favorite Products: </h2>

  {% for pr in favorite_products %}
      <h3>{{ pr.title }}</h3>
      <div>
        <a href="/product/{{ pr.asin }}"><img src="{{ pr.image }}"></a>
      </div><br><br>
    
    <div>
      <h4>Favorite Reviews:</h4>
      {% for review in pr.favorited_reviews %}
        <h5>{{ review.summary }}</h5>
        {{ review.review }}
      {% endfor %} 
    </div><br><br>
  {% endfor %}

{% endblock %}