{% extends 'base.html' %}
{% block content %}

<div class="page">
<div class="container-fluid">

  <h1>User: {{ user.name }}</h1><br><br>

  <h2>Favorite Products: </h2><hr>

    {% for pr in favorite_products %}
        <h3>{{ pr.title }}</h3>
        <div>
          <a href="/product/{{ pr.asin }}"><img src="{{ pr.image }}" width="200" height="200"></a>
        </div><br><br>
      
      <div>
        {% for review in pr.favorited_reviews %}
          <h4 class="emphasize">{{ review.summary }}</h4>
          {{ review.review }}
          <br><br>
        {% endfor %} 
      </div><br>
    {% endfor %}
    <hr>
  {% endblock %}

</div>
</div>